/* css comuni */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.relative {
    position: relative;
}
.center {
    text-align: center;
}
.text-grey {
    color: #808080;
}
.green {
    background-color: #7CBB02;
}
.white {
    color: white;
}

.float-left {
    float: left; 
}
.float-right {
    float: right; 
}
.clearfix::after {
    content: "";
    display: table; 
    clear: both;
}

.position-center {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


/* css header  */
header {
    width: 100%; 
    height: 550px;
    background-color: #0C325A;
    background-image: url(../img/background-header.png);
    background-size: 72%;
    background-repeat: no-repeat;
    background-position: bottom;
    background-position-x: 120%;
    background-position-y: 110%;
}

.container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
}
.header-top {
    height: 80px;
    line-height: 80px;
}

.header-logo {
    width: 15%;
    height: 100%;
}
.header-logo img{
    width: 70%;
    vertical-align: middle;
}

header nav {
    width: 45%;
    height: 100%;
    vertical-align: middle;
}
.list-inline {
    display: inline-block;
    width: 100%;
    list-style: none;
}
header ul> li {
    display: inline-block;
    padding: 0 5px;
}
a {
    text-decoration: none;  
    color: white;
    font-size: 10px;
    text-transform: uppercase;   
}

.header-button {
    width: 40%;
    height: 100%;
    vertical-align: middle;
    text-align: right; 
}

.button {
    border: 1px solid #7CBB02;
    padding: 5px 20px;
    border-radius: 5px;
}

.jumbotron {
    width: 50%;
    height: 420px;
    position: relative
}

.jumbotron h1 {
    font-size: 40px;
    margin-bottom: 40px;

}
.jumbotron a {
    padding: 15px 20px;
}

.jumbotron-text {
    position: absolute;
    top: 55%;
    bottom: 0;
    transform: translateY(-50%);
    letter-spacing: 2px;
}

/* css main  */

.main-top {
    width: 100%;
    height: 120px;
    background-color: #D3D3D3;
}

.main-top-text {
    width: 100%;
}

.main-top-text h2 {
    margin-bottom: 10px;
}

.main-section {
    width: 80%;
    height: 1000px;
    /* background-color: green; */
    margin: auto;
}
.main-section-top {
    width: 100%;
    height: 50%;
    /* background: blue; */
}
.main-content-top {
    margin-top: 10px;
    display: inline-block;
    width: calc(100% / 3);
    height: 430px;
    /* background-color: red; */
    padding: 0 25px;
    /* border: 1px solid black; */
}
.main-content {
    height: 260px;
}
.main-content-top p{
    height: 47%;
    margin-top: 20px;
}

.main-content-top figure>img {
    height: 186px;
    padding: 20px 20px 15px 20px;
}

.main-content-top h3 {
    font-size: 20px;
    color: #7CBB02;
    padding: 0 10px;
}

.hr-content {
    width: 15%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}